.textWrapper {
    margin: 1rem 3rem 1rem 1rem;
    width: 50%;
    align-self: flex-end;
    overflow-y: scroll;
}

.beerSection img {
    width: 25%;
    float: left;
    margin: 4rem;
    position: absolute;
}

.beerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.red {
    background-color: rgb(135, 8, 8);
}

.yellow {
    background-color: rgb(89, 89, 0);
}

.blue {
    background-color: rgb(10, 10, 121);
}