#root {
  width: 100vw;
  
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#jumper {
  position: sticky;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 30px;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}