:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
h2 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100vw;
  
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* #jumper {
  position: sticky;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 30px;
  cursor: pointer;
} */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

header {
  text-align: center;
  height: 100vh;
  scroll-snap-align: start;
  width: 75%;
  margin: 0 auto;
  scroll-snap-align: top;
}

header h1 {
  padding-top: 4rem;
}

.textWrapper {
  margin: 1rem 3rem 1rem 1rem;
  width: 50%;
  /* align-self: flex-end; */
  overflow-y: auto;
  max-height: 90vh;
}

.beerSection img {
  width: 25%;
  margin: 4rem;
  /* position: absolute; */
}

.canvasWrapper {
  margin: 4rem;
}

.beerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}


.red {
  background-color: rgb(135, 8, 8);
}

.yellow {
  background-color: rgb(89, 89, 0);
}

.blue {
  background-color: rgb(10, 10, 121);
}

@media (width <= 800px) {
  /* html {
    scroll-snap-type: none;
  } */

  .textWrapper {
    margin: 2rem 0rem 0rem 0rem;
    width: 75%;
    overflow-y: auto;
    align-self: center;
    font-size: 125%;
    max-height: 75%;
  }
  
  .beerSection img {
    width: 50%;
    max-height: 50%;
    margin: 1rem;
    position: relative;
    align-self: center;
  }
  
  .beerSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
    max-height: 100vh;
    scroll-snap-align: start;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
}

.isVisible {
  color: white;
  /* transition: color 2s; */
}

.isVisible h2 {
 transition: color 1s;
}

.isVisible p {
  transition: color 2s;
}

.invisible {
  color: rgba(0,0,0,0);
}